<div class="input-group mb-3">
    <div class="input-group-prepend">
        <button class="btn btn-warning" type="button">
            Search by Mission Name
        </button>
    </div>
    <input type="text" class="form-control" [(ngModel)]="launchListMissionFilter.mission_name" placeholder="mission name" />
</div>
<div class="container-fluid">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="d-block">
            <h1 class="display-4 text-white"> Space X Rockets</h1>
            <p class="lead text-white">Find out more about our space program</p>
        </div>
    </div>
    <!-- end title -->
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6 " *ngFor="let laun of launchList | filterBy: launchListMissionFilter ">
            <div class="card m-4 ">
                <a class="app-thumb">
                    <div class="thumb" [style.backgroundImage]="'url(' + laun.links.mission_patch + ')'" style="height:10rem;"></div>
                </a>
                <div class="card-body">
                    <h5 class="card-title"> Mission Name: <b>{{ laun.mission_name }}</b></h5>
                    <span class="card-text d-block mb-2"> Flight Number <b>{{ laun.flight_number }}</b></span>
                    <span class="card-text d-block mb-2"> Rocket Name: <b>{{ laun.rocket.rocket_name }}</b></span>
                    <span class="card-text d-block mb-2"> Rocket Type: <b>{{ laun.rocket.rocket_type }}</b></span>
                </div>
            </div>
        </div>
    </div>
    <div>

        <!-- end card container -->
    </div>
