<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-warning text-white box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Space X Api</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white font-weight-normal h5 mx-2" routerLink="/launches" routerLinkActive="active">Launches</a>
        <a class="p-2 text-white font-weight-normal h5 mx-2" routerLink="/rockets" routerLinkActive="">Rockets</a>
        <a class="p-2 text-white font-weight-normal h5 mx-2" routerLink="/full-launche-data" routerLinkActive="">Full Launches Inforamtion</a>
    </nav>
</div>
<router-outlet></router-outlet>
